.papers-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #333; /* Dark text color for better contrast on white background */
    text-align: center;
    margin-bottom: 20px;
}

.paper {
    background-color: #C5D3FE;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.paper:last-child {
    margin-bottom: 0;
}

.paper h2 {
    color: black;
    margin-top: 0;
}

a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #556FFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #334AB7;
}

.filters {
    display: flex;
    margin-top: 20px;
    /* margin-right: 5px; */
}

.filter {
   
    flex: 1;
    /* Adjust the margin as needed */
}

#filter-year {
    font-size: 17px;
    background-color: white; /* Change the background color to dark grey */
    color: grey; /* Change the text color to white */
    border-radius: 10px; /* Adjust the border radius as needed */
    border: 2px solid grey; /* Remove the default border */
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

#filter-module {
    font-size: 17px;
    background-color: white; /* Change the background color to dark grey */
    color: grey; /* Change the text color to white */
    border-radius: 10px; /* Adjust the border radius as needed */
    border: 2px solid grey; /* Remove the default border */
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

#filter-asessment {
    font-size: 17px;
    background-color: white; /* Change the background color to dark grey */
    color: grey; /* Change the text color to white */
    border-radius: 10px; /* Adjust the border radius as needed */
    border: 2px solid grey; /* Remove the default border */
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}