<app-navbar></app-navbar>

<div class="filters">
    <div class="filter">
        <select id="filter-year">
            <option value="" disabled selected style="display:none;">Year</option>
            <option value="2023">2023</option>
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
        </select>
    </div>
    <div class="filter">
        <select id="filter-module">
            <option value="" disabled selected style="display:none;">Modules</option>
            <option value="module1">COS333</option>
            <option value="module2">COS330</option>
            <option value="module3">COS341</option>
            <option value="module4">COS301</option>
            <option value="module5">IMY310</option>
            <option value="module6">IMY320</option>
        </select>
    </div>
    <div class="filter">
        <select id="filter-asessment">
            <option value="" disabled selected style="display:none;">Assesment</option>
            <option value="Ass1">Tutorials</option>
            <option value="Ass2">Class tests</option>
            <option value="Ass3">Semester test 1</option>
            <option value="Ass4">Semester test 2</option>
            <option value="Ass5">Exam</option>
        </select>
    </div>
</div>

<div class="papers-container">
    <h1>Searching for Past Papers</h1>

    <div class="paper">
    </div>

    <div class="paper">
    </div>
</div>
