body {
    background: #D1E2F5;
    margin: 0;
    display: flex;
    align-items: stretch;
}

.website {
    flex: 1;
    display: flex;
    height: 100vh;
}

.nav {
    background: #FFF;
    width: 15%;
    border-radius: 0px 20px 20px 0px;
}

.sign-out-container {
    height: 25%;
}

.logo{
    height:20%;
}

.nav-links {
    height: 55%;
}

.text-wrapper {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    background: rgba(10, 107, 199, 0.75);
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin: 4% auto;
}

.sign-out {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    background: rgba(10, 107, 199, 0.75);
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin: 4% auto;
}

.content {
    flex: 1;

}

.search {
    width: 90%;
    margin: 5% auto;
    height: 10%;
    border-radius: 10px;
    background: #FFF;
}

.bottom-container {
    width: 90%;
    margin: 5% auto;
    height: auto;
}

.course-container {
    width: 30%;
    border-radius: 10px;
    background: #FFF;
    display: inline-block;
    padding: 0 1.4%;
}