body {
    background: #C5D3FE;
    margin: 0;
    display: flex;
    align-items: stretch;
}

.website {
    flex: 1;
    display: flex;
    height: 100vh;
}

.nav {
    background: #FFF;
    width: 15%;
    border-radius: 0px 25px 25px 0px;
}

.sign-out-container {
    height: 5%;
}

.logo {
    height: 20%;
}

.logo-pic{
    height:85%;
    padding-left:25%;
    padding-top:5%;
}

.nav-links {
    height: 71%;
}

.banner{
    width: 80%;
    border-radius: 10px;
    margin-top: 8%;
}

.text-wrapper {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    background: #5272F9;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin: 4% auto;
}

.sign-out {
    color: #1E1E1E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 6px;
    background: #5272F9;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2%;
    margin: 4% auto;
}

.content {
    flex: 1;

}

.search {
    width: 90%;
    margin: 4% auto;
    height: 10%;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    /* Make the container a flex container */
    align-items: center;
}

.search-bar {
    border-radius: 4px;
    background: #EBEBEB;
    height: 60%;
    width: 55%;
    position: relative;
    left: 2%;
    display: flex;
}

.search-text {
    color: #656565;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 2.5%;
    flex-grow: 1;
}

.search-icon {
    position: relative;
    height: 75%;
    align-self: center;
    padding: 2%;
}

.search-faculty {
    border-radius: 4px;
    background: #EBEBEB;
    height: 60%;
    width: 15%;
    position: relative;
    margin: 0 4%;
    display: flex;
}

.faculty-text {
    color: #868686;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 6%;
    margin-left: 5%;
    flex-grow: 1;
}

.faculty-icon {
    position: relative;
    height: 60%;
    align-self: center;
    padding: 2%;
    margin-right: 5%;
}

.user-container {
    display: flex;
    width: 19%;
}

.user-text {
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2%;
    width: 70%;
    align-self: center;
    text-align: end;
    padding-right: 7%;
}

.user-pic {
    height: 70%;
    width: 30%;
}

.bottom-container {
    width: 90%;
    margin: 4% auto;
    height: 50%;
    display: flex;
}

.course-container {
    width: 28%;
    border-radius: 10px;
    background: #FFF;
    display: inline-block;
    padding: 0 1%;
    margin: 1.4%;
    text-align: center;
    height: 100%;
}

.calendar{
    margin-top: 5%;
    width: 90%;
}

.heading {
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 2%;
}

.articles{
    background-image: url(assets/newspaper.png);
    background-size: cover;
    padding: 9%;
    border-radius: 10px;
}

.article-text {
    color: black;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 6%;
    background-color: #868686;
    opacity: 0.7;
    border-radius: 10px;
}

.challenge{
    background-image: url(assets/challenge.avif);
    background-size: cover;
    padding: 10%;
    border-radius: 10px;
    margin-top: 3%
}

.challenge-text {
    color: black;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 6%;
    /* background-color: #868686; */
    opacity: 0.7;
    border-radius: 10px;
}

.tech{
    background-image: url(assets/tech.jpeg);
    background-size: cover;
    padding: 10%;
    border-radius: 10px;
    margin-top: 8%
}

.tech-text {
    color: black;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 5%;
    /* background-color: #868686; */
    opacity: 0.7;
    border-radius: 10px;
}