
.container {
    /* background-color: blue; */
     background-color: #C5D3FE;
    /* padding-top: 225px; */
  
    /* margin-top: 40vh; */
    padding-bottom: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 0;
    border-radius: 15px;
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 5vh;
}
h1 {
    color: #333; /* Dark text color for better contrast on white background */
    /* text-align: center; */
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 40px;
    padding-top: 5vh;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
}
p {
    line-height: 1.6;
    font-family: 'Oswald', sans-serif;
}