<app-navbar></app-navbar>
<div class="container">
<h1>About Our Website</h1>
        <p>
            Welcome to our platform, dedicated to helping students achieve academic success! Our website provides a range of features tailored to assist you throughout your educational journey.
        </p>
        <h2>Key Features</h2>
        <ul>
            <li>Access to Past Papers: Our platform offers a vast collection of past papers for various courses, making it easier to practice and prepare for your exams.</li>
            <li>Study Resources: We provide tutorials and study materials that cater to different subjects and academic levels, giving you the extra support you need to excel in your studies.</li>
            <li>To-Do Lists: Stay organized with our built-in to-do list feature. Easily keep track of your tasks, assignments, and questions you need to address in your studies.</li>
            <li>Tutor Match: Looking for additional help? Find suitable tutors for your modules, connect with them, and enhance your understanding of complex topics.</li>
            <li>Study Groups: Join existing study groups or create your own. Tailor your study experience to your specific needs, whether academic or casual.</li>
            <li>Job Opportunities: Explore job opportunities related to your chosen modules. Stay informed about potential career paths and apply for positions directly through our platform.</li>
        </ul>
        <h2>Our Mission</h2>
        <p>
            Our mission is to empower students like you to achieve academic excellence and prepare for your future careers. We are committed to providing a comprehensive educational platform where you can access all the resources and support needed for your studies.
        </p>
        <h2>Get Started</h2>
        <p>
            Get started with our platform today to unlock the full potential of your academic journey. Whether you are a student searching for past papers, a tutor willing to assist, or a job seeker exploring opportunities, our platform is designed to cater to your unique needs.
        </p>
    </div>