<app-navbar></app-navbar>

<div class="papers-container">
    <div class="title-container">
        <!-- <button (click)="goBack()" class="back-button">
            &larr; 
        </button> -->
        <h1>Find a Tutor</h1>
    </div>
</div>

<div class="filters">   
    <div class="filter2">
        <select id="filter-module" #filterModule (change)="filterGroups(filterModule.value,filterExperience.value)">
            <option value="" disabled selected style="display:none;">Modules</option>
            <option value="COS333">COS333</option>
            <option value="COS330">COS330</option>
            <option value="COS341">COS341</option>
            <option value="COS301">COS301</option>
            <option value="IMY310">IMY310</option>
            <option value="IMY320">IMY320</option>
        </select>
    </div>  
    <div class="filter2">
        <select id="filter-experience"  #filterExperience (change)="filterGroups(filterModule.value, filterExperience.value)">
            <option value="" disabled selected style="display:none;">Experience</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4+">4+</option>
        </select>
    </div>
</div>

<div class="papers-container">
    <div class="paper" *ngFor="let tutor of filteredGroups">
      <div class="tutor-container">
        <img [src]="tutor.image" alt="{{ tutor.name }}" class="tutor-image">
        <div class="tutor-info">
          <h2>{{ tutor.Module }} Tutor</h2>
          <p><strong>Name:</strong> {{ tutor.name }}</p>
          <p><strong>Rate:</strong> R{{ tutor.rate }}/hr</p>
          <p><strong>Experience:</strong> {{ tutor.experience }} years</p>
          <p><strong>Description:</strong> {{ tutor.description }}</p>
          <button (click)="navigateToExternalURL()">Contact Tutor</button>
        </div>
      </div>
    </div>
    <div *ngIf="filteredGroups.length === 0" class="nomore">No tutors found!</div>
  </div>
  
  




  