.tutors-container {
    width: 80%;
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Oswald', sans-serif;
}

.tutor-image {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}


h1 {
    color: #333; /* Dark text color for better contrast on white background */
    /* text-align: center; */
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0;
    font-size: 42px;
}

.tutor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    background-color: #C5D3FE;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.tutor:last-child {
    margin-bottom: 0;
    flex-basis: 75%;
}

.tutor-image {
    flex-basis: 20%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 5%;
}

.tutor h2 {
    color: black;
    font-size: 18px;
    /* margin-top: 50px; */
}

p {
    font-size: 18px;
}

a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #556FFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #334AB7;
}

.filters {
    display: flex;
    padding-top: 20px;
    /* margin-right: 5px; */
}

.filter1 {
   margin-left: 0px;
}
.filter2 {
    margin-left: 10px;
 }


#filter-module {
    font-size: 18px;
    background-color: white; /* Change the background color to dark grey */
    color: grey; /* Change the text color to white */
    border-radius: 10px; /* Adjust the border radius as needed */
    border: 2px solid grey; /* Remove the default border */
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

#filter-experience {
    font-size: 18px;
    background-color: white; /* Change the background color to dark grey */
    color: grey; /* Change the text color to white */
    border-radius: 10px; /* Adjust the border radius as needed */
    border: 2px solid grey; /* Remove the default border */
    padding: 5px;
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-size: 18px;
}

.nomore {
    font-size: 20px;
    padding-top: 35px;
}

.title-container {
    display: flex;
    align-items: center;
}

.back-button {
    color: black;
    margin-top: -60px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    margin-right: -20px0;
    margin-left: -0; /* Add spacing between the title and the button */
}