header {
  background-color: #C5D3FE;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 30px;
}

/* Center-align the title */
.centered-title {
  /* color: black; */
  text-align: center;
  font-size: 22px;
  margin-left: 38vw;
  display: flex;
  flex-grow: 1;
  /* Expand and center the title within the available space */
}

.logo {
  width: 55px;
  /* Adjust the width as needed */
  height: 55px;
  /* Adjust the height as needed */
  margin-right: 10px
}

.centered-title h1 {
  margin: 0;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.centered-title h1:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.5px #556FFF;
}

.centered-title h1:nth-child(2) {
  color:#556FFF;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
  0%, 100%
  {
    clip-path: polygon(0% 48%, 14% 45%, 26% 46%, 37% 52%, 45% 56%, 56% 62%, 68% 70%, 80% 71%, 93% 69%, 100% 61%, 100% 100%, 0 100%);
  }
  50%
  {
    clip-path: polygon(0% 48%, 7% 56%, 19% 62%, 30% 62%, 43% 57%, 53% 52%, 64% 48%, 80% 46%, 91% 46%, 100% 51%, 100% 100%, 0 100%);
  }
}

.right-links {
  display: flex;
}

.right-links a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
  padding: 5px 4px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  cursor: pointer;
}

.page-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  /* Center-align the page navigation buttons */
  padding: 0;
  margin: 0;
}

.page-nav li {
  margin: 1% 1.5%;

}

.page-nav a {
  text-decoration: none;
  color: #333;
}

.page-nav a.active {
  background-color: #556FFF;
  /* Change to black */
  color: white;
  /* Change text color to white */
  border-radius: 5px;
}

nav {
  /* margin-bottom: 50px; */
}

nav ul {
  list-style: none;
  display: flex;
  padding-bottom: 10px;
  background-color: #C5D3FE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.one {
  margin-left: 50px
}

nav li {
  margin-right: 60px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #333;
}

.pagebut {
  width: 13vw;
  /* padding-left: 25px;
    padding-right: 25px; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 7px;
  border-radius: 5px;
  background: transparent;
  border: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  overflow: hidden;
  transform: 0.5s;
  position: relative;
}

.active-button{
  color: #255784;
  background: #556FFF;
  box-shadow: 0 0 10px #556FFF, 0 0 40px #556FFF, 0 0 80px #556FFF;
}

button:hover{
  color: #255784;
  background: #556FFF;
  box-shadow: 0 0 10px #556FFF, 0 0 40px #556FFF, 0 0 80px #556FFF;
  transition-delay: 1s;
}

button span{
  position: absolute;
  display: block;
}

button span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #556FFF);
}
button:hover span:nth-child(1){
  left:100%;
  transition: 1s;
}

button span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(280deg, transparent, #556FFF);
}
button:hover span:nth-child(3){
  right:100%;
  transition: 1s;
  transition-delay: 0.5s;
}

button span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #556FFF);
}
button:hover span:nth-child(2){
  top:100%;
  transition: 1s;
  transition-delay: 0.25s;
}

button span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #556FFF);
}
button:hover span:nth-child(4){
  bottom:100%;
  transition: 1s;
  transition-delay: 0.75s;
}