<header>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- Logo or website name -->
    <div class="centered-title">
        <img src="assets/LogoTrans.png" alt="Your Logo" class="logo">
        <div>
        <h1>ScholarSphere</h1>
        <h1>ScholarSphere</h1>
        </div>
    </div>
  
    <!-- Sign In and Sign Up buttons on the right -->
    <div class="right-links">
      <a routerLink="/login">Login</a>
      <a>|</a>
      <a routerLink="/register">Register</a>
    </div>
  </header>
  
  <!-- Page navigation buttons -->
  <nav>
     <ul class="page-nav">
        <li><button class="pagebut" routerLink="/BIT" routerLinkActive="active">BIT</button></li>
        <li><button class="pagebut" routerLink="/CompSci"  routerLinkActive="active">Computer Science</button></li>
        <li><button class="pagebut" routerLink="/BScIT"  routerLinkActive="active">BSc IT</button></li>
        <li><button class="pagebut" routerLink="/CompEng"  routerLinkActive="active">Computer Engineering</button></li>
        <li><button class="pagebut" routerLink="/Informatics"  routerLinkActive="active">Informatics</button></li>
        <li><button class="pagebut" routerLink="/Multimedia"  routerLinkActive="active">Multimedia</button></li>
      </ul>
  </nav>
  