<header>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- Logo or website name -->
    <a routerLink="/home">
    <div class="centered-title">
        <img src="assets/LogoTrans.png" alt="Your Logo" class="logo">
        <div>
        <h1>ScholarSphere</h1>
        <h1>ScholarSphere</h1>
        </div>
    </div>
    </a>
  
    <!-- Sign In and Sign Up buttons on the right -->
    <div class="right-links">
      <a routerLink="/login">Login</a>
      <a>|</a>
      <a routerLink="/register">Register</a>
    </div>
  </header>
  
  <!-- Page navigation buttons -->
  <nav>
     <ul class="page-nav">
        <li><button class="pagebut" routerLink="/pastpapers" [ngClass]="{'active-button': isPastPapers}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Past Papers
        </button></li>
        <li><button class="pagebut" routerLink="/studygroups" [ngClass]="{'active-button': isStudy}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Study Groups</button></li>
        <li><button class="pagebut" routerLink="/tutors" [ngClass]="{'active-button': isTutor}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Tutors</button></li>
        <li><button class="pagebut" routerLink="/jobs" [ngClass]="{'active-button': isJobs}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Job Opportunities</button></li>
        <!-- <!-- <li><button class="pagebut" routerLink="/Informatics" [ngClass]="{'active-button': isInformatics}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Informatics</button></li> -->
        <li><button class="pagebut" routerLink="/about" [ngClass]="{'active-button': isAbout}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          About Us</button></li>
      </ul>
  </nav>
  