<header>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <!-- Logo or website name -->
    <div class="centered-title">
        <img src="assets/LogoTrans.png" alt="Your Logo" class="logo">
        <div>
        <h1>ScholarSphere</h1>
        <h1>ScholarSphere</h1>
        </div>
    </div>
  
    <!-- Sign In and Sign Up buttons on the right -->
    <div class="right-links">
      <a routerLink="/login">Login</a>
      <a>|</a>
      <a routerLink="/register">Register</a>
    </div>
  </header>
  
  <!-- Page navigation buttons -->
  <nav>
     <ul class="page-nav">
        <li><button class="pagebut" routerLink="/BIT" [ngClass]="{'active-button': isBit}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          BIT
        </button></li>
        <li><button class="pagebut" routerLink="/CompSci" [ngClass]="{'active-button': isCompSci}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Computer Science</button></li>
        <li><button class="pagebut" routerLink="/BScIT" [ngClass]="{'active-button': isBscIt}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          BSc IT</button></li>
        <li><button class="pagebut" routerLink="/CompEng" [ngClass]="{'active-button': isCompEng}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Computer Engineering</button></li>
        <li><button class="pagebut" routerLink="/Informatics" [ngClass]="{'active-button': isInformatics}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Informatics</button></li>
        <li><button class="pagebut" routerLink="/Multimedia" [ngClass]="{'active-button': isMultimedia}" routerLinkActive="active">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Multimedia</button></li>
      </ul>
  </nav>
  