<!DOCTYPE html>
<html lang="en">

<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Your Page Title</title> -->
</head>

<body style="margin:0;">
  <div class="bodyy">
    <div class="floating-card">
      <!-- <button class="close-button" (click)="closeCard()">X</button> -->
      <div class="left-side">
        <h2>ScholarSphere</h2>

        <!-- <label for="username">Username:</label> -->
        <input type="text" [(ngModel)]="username" name="username" placeholder="Enter your username">

        <!-- <label for="password">Password:</label> -->
        <input type="password" [(ngModel)]="password" name="password" placeholder="Enter your password">
        
        <div *ngIf="registrationError" style="color: red;">{{ registrationError }}</div>
        
        <!-- Display a success message if registration is successful -->
        <div *ngIf="registrationSuccess" style="color: green;">Registration successful!</div>
        
        <button  (click)="registerUser()" routerLink="/BIT">Login</button>


      </div>
      <div class="right-side">
        <img src="assets/purple.jpeg" alt="Image">
      </div>
    </div>
  </div>
</body>

</html>