<body>
  <div class="bodyy">
  <div class="floating-card">
    <!-- <button class="close-button" (click)="closeCard()">X</button> -->
    <div class="left-side">
      <h2>Login</h2>
     
        <!-- <label for="username">Username:</label> -->
        <input type="text" id="username" name="username" placeholder="Enter your username">
  
        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" name="password" placeholder="Enter your password">
  
        <button routerLink="/course">Login</button>

   
    </div>
    <div class="right-side">
      <img src="assets/purple.jpeg" alt="Image">
    </div>
  </div>
</div>
</body>