body {
  background: #C5D3FE;
  height: 100vh;
  /* width: 100vw; */
  overflow: hidden;
}

html {
  overflow: hidden;
}

.bodyy {
  background-color: #C5D3FE;
  overflow: hidden;
}

h2 {
  margin-bottom: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
}

.floating-card {
  display: flex;
  width: 75vw;
  height: 70vh;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.left-side {
  flex: 1;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Push elements apart */
}

.right-side {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

form {
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}


input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-top: 0;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  padding-left: 20px;
  width: 25vw;
  margin-left: 2vw;
  font-family: 'Oswald', sans-serif;
}

button {
  padding: 10px 20px;
border-radius: 5px;
background: #556FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  cursor: pointer;
  width: 20vw;
  align-items: center;
  margin-left: 6vw;
  font-family: 'Oswald', sans-serif;
}

img {
  height: 100%;
}