.section-container {
    height: 77vh;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5%;
}

.section {
    width: 20%;
    height: 80%;
    margin-top: 3%;
    /* background-color: violet; */
    border-radius: 15px;
    border: 2.5px solid #556FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 0% 1%;
}

#sec1{
    background: rgba(0, 0, 0, 0.5);
    background: url(../../assets/job-search.jpeg);
    background-size: cover;
    background-position-x: center;
}

#sec2{
    background: rgba(0, 0, 0, 0.5);
    background: url(../../assets/Tutor.jpeg);
    background-size: cover;
    background-position-x: right;
}

#sec3{
    background: rgba(0, 0, 0, 0.5);
    background: url(../../assets/study-group.png);
    background-size: cover;
}

#sec4{
    background: rgba(0, 0, 0, 0.5);
    background: url(../../assets/past-papers.jpeg);
    background-size: cover;
}

.section-heading {
    color: #EBEBEB;
    font-family: Inter;
    font-size: 23px;
    font-weight: 900;
    width: 80%;
    display: flex;
    position: relative;
    align-items: flex-end;
    margin-bottom: 15%;
  }

  .arrow{
    display: flex;
    align-items: flex-end;
    margin-bottom: 5%;
  }