.jobs-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: #333; /* Dark text color for better contrast on white background */
    /* text-align: center; */
    margin-bottom: 20px;
    margin-left: 0px;
    margin-top: 40px;
    padding-top: 0;
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
}

.job {
    background-color: #C5D3FE;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.job:last-child {
    margin-bottom: 0;
}

.job h2 {
    color: black;
    margin-top: 0;
}

a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #556FFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #334AB7;
}

button {
    margin-left: 10px;
    border-radius: 10px;
    height: 7vh;
    width: 12vw;
    background-color: #556FFF;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    border: none;
  }
  
  .title-container {
    display: flex;
    align-items: center;
}

.back-button {
    color: black;
    margin-top: -20px;
    background: none;
    border: none;
    font-size: 50px;
    cursor: pointer;
    margin-right: -20px;
    margin-left: -10px; /* Add spacing between the title and the button */
}

