<app-navbar></app-navbar>

<div class="papers-container">
    <div class="title-container">
        <!-- <button (click)="goBack()" class="back-button">
            
        </button> -->
        <h1>Job Listings</h1>
    </div>
</div>

<div class="jobs-container">   
    <div class="job">
        <h2>Software Engineer</h2>
        <p><strong>Company:</strong> Tech Corp</p>
        <p><strong>Location:</strong> Menlo Park</p>
        <p><strong>Salary:</strong> R30 000 - R40 000</p>
        <p><strong>Description:</strong> Develop and maintain web applications.</p>
        <button (click)="navigateToExternalURL()">Apply Now</button>
    </div>

    <!-- Job 2 -->
    <div class="job">
        <h2>Data Scientist</h2>
        <p><strong>Company:</strong> Data Inc.</p>
        <p><strong>Location:</strong> Pretoria</p>
        <p><strong>Salary:</strong> R30 000 - R45 000</p>
        <p><strong>Description:</strong> Analyze large datasets and provide insights.</p>
        <button (click)="navigateToExternalURL()">Apply Now</button>
    </div>

    <!-- Job 3 -->
    <div class="job">
        <h2>UI/UX Designer</h2>
        <p><strong>Company:</strong> DesignHub</p>
        <p><strong>Location:</strong> Brooklyn</p>
        <p><strong>Salary:</strong> R37 000 - R50 000</p>
        <p><strong>Description:</strong> Design user-friendly interfaces for web and mobile applications.</p>
        <button (click)="navigateToExternalURL()">Apply Now</button>
    </div>

    <!-- Job 4 -->
    <div class="job">
        <h2>Marketing Manager</h2>
        <p><strong>Company:</strong> MarketLead</p>
        <p><strong>Location:</strong> Midrand</p>
        <p><strong>Salary:</strong> R20 000 - R32 000</p>
        <p><strong>Description:</strong> Lead marketing campaigns and oversee a team of marketing professionals.</p>
        <button (click)="navigateToExternalURL()">Apply Now</button>
    </div>

    <!-- Job 5 -->
    <div class="job">
        <h2>Project Manager</h2>
        <p><strong>Company:</strong> BuildWorks</p>
        <p><strong>Location:</strong> Randburg</p>
        <p><strong>Salary:</strong> R30 000 - R40 000</p>
        <p><strong>Description:</strong> Manage projects, ensure timely delivery, and coordinate between teams.</p>
        <button (click)="navigateToExternalURL()">Apply Now</button>

    </div>
</div>


  


