<app-navbar></app-navbar>

<div class="papers-container">
    <div class="title-container">
        <!-- <button (click)="goBack()" class="back-button">
            &larr; 
        </button> -->
        <h1>Search for Study Groups</h1>
    </div>
</div>

<div class="filters">   
    <div class="filter2">
        <select id="filter-module" #filterModule (change)="filterGroups(filterModule.value)">
            <option value="" disabled selected style="display:none;">Modules</option>
            <option value="COS333">COS333</option>
            <option value="COS330">COS330</option>
            <option value="COS341">COS341</option>
            <option value="COS301">COS301</option>
            <option value="IMY310">IMY310</option>
            <option value="IMY320">IMY320</option>
        </select>
    </div>  
    <button class="create" (click)="naviagtetoWhat()">Create Group</button>
</div>


<div class="papers-container">
    <div class="paper" *ngFor="let group of filteredGroups">
      <div class="study-group">
        <h2>{{ group.Module }} - {{ group.StudyType }} Study Group</h2>
        <p><strong>Group Type: </strong>{{ group.Type }}</p>
        <p><strong>Total Participants: </strong>{{ group.Participants }}</p>
        <p><strong>Group Setting: </strong>{{ group.Settings }}</p>
        <button (click)="navigateToExternalURL()">Join Group</button>
      </div>
    </div>

    <div *ngIf="filteredGroups.length === 0" class="nomore">No study groups found!</div>
  </div>


  

  


