.fullpage-slideshow {
    position: relative;
    width: 100vw;
    height: 230vh;
    overflow: hidden;
    background-image: url('../../assets/wave.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .gif-container{
    color: black;
    display: flex;
    margin-top: 10%;
  }
  
  .fail-text{
    flex-grow: 1;
    margin: auto;
    font-size: x-large;
    padding: 4%;
  }

  .gif{
    width: 25%;
    margin-right: 20%;
  }

  .constant-text {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    z-index: 1; 
  }

  h2 {
    margin-top: -5px;
    font-size: 50px;
  }
  
  .logo {
    width: 10vw;
    height: 20vh;
    
  }


  .guest {
    color: white;
    font-size: 25px;
    text-decoration: none;
  }

  .faculty-links {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    height: 40vh;
    width: 100%; 
    gap: 5%;
    opacity: 1; 
    backdrop-filter: blur(5px);
}

.faculty-link {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  height: 40vh;
  width: 100%; 
  gap: 5%;
}

.faculty-links a {
  text-align: center;
  font-size: 20px;
  margin: 0 5px; 
  color: white; 
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease; 
  display: block; /* Make the links block elements */
  width: 25%;
}

.faculty-link a {
  text-align: center;
  font-size: 20px;
  margin: 0 5px; 
  color: white; 
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease; 
  display: block; /* Make the links block elements */
  width: 25%;
}

/* Adjust the div styles if needed */
.faculty-links a div {
  width:100%;
  height: 100%;
}

.faculty-link a div {
  width:100%;
  height: 100%;
}

.faculty-links a:nth-child(1){
  background-image: url('../../assets/bit.jpg');
  background-size: cover;
  height: 100%;
  background-position: 40% center;
}

.faculty-links a:nth-child(2){
  /* filter: blur(5px);
  transition: filter 0.3s; */
  background-image: url('../../assets/computer-science.jpg');
}
/* .faculty-links a:nth-child(2) hover{
  filter: blur(5px);
  transition: filter 0.3s;
} */
  /* background-image: url('../../assets/computer-science.jpg');
} */

.faculty-links a:nth-child(3){
  background-image: url('../../assets/IT.webp');
  /* background-position: center; */
  background-size: cover;
}

.faculty-link a:nth-child(1){
  
  background-image: url('../../assets/computer-engineering.jpg');
  background-size: cover;
}

.faculty-link a:nth-child(2){
  background-image: url('../../assets/informatics.jpg');
  background-size: cover;
}

.faculty-link a:nth-child(3){
  background-image: url('../../assets/multimedia.jpg');
  background-size: cover;
}

.faculty-links a:hover {
  background-color: #556FFF;
  transform: scale(1.05);
  font-size: 25px;
  text-decoration: none;
}

.faculty-links a:hover::before {
  opacity: 1; 
  backdrop-filter: blur(10px);
}

.faculty-link a:hover {
  background-color: #556FFF;
  transform: scale(1.05);
  font-size: 25px;
  text-decoration: none;
}

.faculty-link a:hover::before {
  opacity: 1; 
  backdrop-filter: blur(10px);
}

.website-description{
  width: 50%;
  margin: auto;
  font-size:large;
}

.faculty-img{
  width: 30%;
}

.faculty-heading{
  margin: auto;
  color: black;
  font-size: xx-large;
  margin-top: 2%;
}

.faculty-links a:hover + .blur-on-hover {
  filter: blur(5px); /* Adjust the blur radius as needed */
  transition: filter 0.3s; /* Add a transition for a smoother effect */
}