<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">


<div class="fullpage-slideshow">
    <div class="constant-text">
        <img src="assets/LogoTrans.png" class="logo">
        <h2>Welcome to ScholarSphere</h2>
        <p class="website-description">Welcome to ScholarSphere, your university companion. Explore faculties for job opportunities, expert tutors, study groups, and past papers. Elevate your academic journey and future success with ScholarSphere.</p>
        <!-- <a routerLink="/course" class="guest">Continue as Guest &rarr;</a> -->

        <div class="gif-container">
            <div class="fail-text">Tired of receiving bad marks. No need to stress anymore, here at ScholarSphere you can find all the resources needed to ace your tests.</div>
            <img class="gif" src="../../assets/study-fail.gif">
        </div>

        <div class="faculty-heading">Choose Your Faculty</div>

        <div class="faculty-links">
            <a class="blur-on-hover" routerLink="/pastpapers"><div>BIT</div></a>
            <a routerLink="/pastpapers"><div>Computer Science</div></a>
            <a routerLink="/pastpapers"><div>Information Technology</div></a>
        </div>
        <div class="faculty-link">
            <a routerLink="/pastpapers"><div>Computer Engineering</div></a>
            <a routerLink="/pastpapers"><div>Informatics</div></a>
            <a routerLink="/pastpapers"><div>Multimedia</div></a>
        </div>
    </div>



</div>