body {
    background: #C5D3FE;
    height: 100vh;
    /* width: 100vw; */
    overflow: hidden;
  }
  
  html {
    overflow: hidden;
  }
  
  h2 {
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin-top: 0px;
  }

  p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-left: 15px;
  }

  a {
    color:#556FFF;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease;
  }

  a:hover {
    font-weight: bold; /* Make the text bold on hover */
    transform: translateY(-2px); /* Lift the text by 2 pixels on hover */
}
  
  .floating-card {
    display: flex;
    width: 75vw;
    height: 70vh;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  .left-side {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .right-side {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  form {
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-top: 0;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    padding-left: 20px;
    width: 25vw;
    margin-left: 2vw;
    font-family: 'Oswald', sans-serif;
  }
  
  button {
    padding: 10px 20px;
  border-radius: 5px;
  background: #556FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    width: 20vw;
    align-items: center;
    margin-left: 5.5vw;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
  }
  
  img {
    height: 100%;
  }

  .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: -15px;
 margin-left: 0px;
 font-family: 'Oswald', sans-serif;
}